     
    <nav>
            <div class="sidenavigation">
            <a href="/">Home</a> 

            <a href="/categories">Categories</a>

            <a href="/"> Store</a>

            <a href="/about"> About</a>

            <a href="/contact"> Contact</a>
            
    </nav>


