<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href= "styles.css">
	<title> KNOWLEDGE EXCHANGER</title>
</head>    

<body>
<% include partials/header.ejs %>
<div class="container">
<% include partials/user-navigation.ejs %>

<% include partials/site-navigation.ejs %>

<h1> BOOK SWAPPING DOMAIN</h1>
<h2> Book swapping domain provides an online platform for swapping books between users free of cost !!</h2>

 <h2>So lets make the maximum use of this opportunity!!</h2>

 HAPPY READING !!

<% include partials/footer.ejs %>
</div>
</body>




