  
<div class="footer1">
    <h3>Contact:<a href="item.html"><img src="facebook.png" alt ="facebook logo not displayed" width="30" height="30"><img src="instagram.png" alt="instagram logo not dispalyed" width="25" height="25"></a>
        Privacy-Policy Copyright Information USA.gov
    </h3>
</div>

