
    <link rel="stylesheet" type="text/css" href="styles.css">

    <div class ="header">
        <div class="image">
        <img src="book-recycling.png" alt="Book Swaaping Logo" width="70" height="65">
        </div>
        <div class="heading">
            KNOWLEDGE EXCHANGER 
            <div class="placeholder"> 
            prutha20@gmail.com
            </div>
        </div>
    </div>
